.main-background {
    width:100%;
    padding:45px 0;
    margin:0;
}
.img-container {
    width:80%;
    margin:0% auto;
}
.spacer {
    height:50px;
}
.img-container > img {
    display:block;
    margin:auto;
    width:100%;
    border:4px solid white;
}
.hotel-info {
    margin-top:20px;
}
.hotel-info > h5 {
    font-weight:650
}
.hotel-info > h6 {
    line-height:70%;
}